<div class="wrapper">
	<div class="tab__nav">
		<button class="tab__btn-item" data-button="content-1">first</button>
		<button class="tab__btn-item tab__btn--active" data-button="content-2">
			second
		</button>
		<button class="tab__btn-item" data-button="content-3">third</button>
	</div>
	<div class="tab__tabs">
		<div class="tab__content" data-button-content id="content-1">
			<div class="tab__content-item">
				<h3>Nepal</h3>
				<p>Dolpo & Western Nepal</p>
			</div>
			<div class="tab__content-item">
				<h3>Nepal</h3>
				<p>Upper Mustang</p>
			</div>
			<div class="tab__content-item">
				<h3>Nepal</h3>
				<p>Mt. Everest Region</p>
			</div>
		</div>
		<div
			class="tab__content tab__content--active"
			data-button-content
			id="content-2"
		>
			<div class="tab__content-item">
				<h3>Nepal</h3>
				<p>Dolpo & Western Nepal</p>
			</div>
			<div class="tab__content-item">
				<h3>Nepal</h3>
				<p>Upper Mustang</p>
			</div>
			<div class="tab__content-item">
				<h3>Nepal</h3>
				<p>Mt. Everest Region</p>
			</div>
		</div>
		<div class="tab__content" data-button-content id="content-3">
			<div class="tab__content-item">
				<h3>Nepal</h3>
				<p>Dolpo & Western Nepal</p>
			</div>
			<div class="tab__content-item">
				<h3>Nepal</h3>
				<p>Upper Mustang</p>
			</div>
			<div class="tab__content-item">
				<h3>Nepal</h3>
				<p>Mt. Everest Region</p>
			</div>
		</div>
	</div>
</div>
