// Fonts
$font-main: название;
$font-second: название;
$font-tertiary: название;

// Colors
$first: название;
$second: название;
$third: название;
$white: #fff;
$black: #000;
$bgf: название;
$bgs: название;
$green: #40DDB6;
$blue: #6B78E5;
$grey: #37393F;
$light-grey: #7D7D7D;

// Breakpoints

$breakpoint992: 991.99px;
$breakpoint768: 767.99px;
$breakpoint480: 479.99px;
