<div class="wrapper">
	<div class="accordion">
		<div class="accordion__title" data-tab="title-1">
			<h2>Блок 1. Заголовок</h2>
			<span></span>
		</div>
		<div class="accordion__content" id="title-1">
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo sequi totam
			ex magnam dolores doloremque similique veniam sit nam repellendus,
			consectetur dolore. Pariatur aliquid laboriosam molestiae voluptatibus
			vero animi voluptate?
		</div>
		<div class="accordion__title" data-tab="title-2">
			<h2>Блок 2. Заголовок</h2>
			<span></span>
		</div>
		<div class="accordion__content" id="title-2">
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo sequi totam
			ex magnam dolores doloremque similique veniam sit nam repellendus,
			consectetur dolore. Pariatur aliquid laboriosam molestiae voluptatibus
			vero animi voluptate?
		</div>
		<div class="accordion__title" data-tab="title-3">
			<h2>Блок 3. Заголовок</h2>
			<span></span>
		</div>
		<div class="accordion__content" id="title-3">
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo sequi totam
			ex magnam dolores doloremque similique veniam sit nam repellendus,
			consectetur dolore. Pariatur aliquid laboriosam molestiae voluptatibus
			vero animi voluptate? Lorem ipsum dolor sit amet consectetur adipisicing
			elit. Eum assumenda illo, fugiat omnis tenetur quod aut itaque reiciendis
			beatae rem delectus sit dolores ut molestias placeat quos quas vel. Magni?
		</div>
	</div>
</div>
